#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

[mysqld]
server-id=1
#log-bin
gtid_mode="ON"
#super_read_only=1
enforce_gtid_consistency = "ON"
log_bin="bin_log"
sync_binlog=1
log_slave_updates=1
relay_log_recovery=1
relay_log_purge=1
